rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Categories Collection - Master list of categories
    match /categories/{categoryId} {
      allow read, write: if true;
    }

    // Reviews Collection - Customers reviews for professionals
    match /reviews/{reviewId} {
      allow read, write: if true;
    }

    // Professionals Collection - Expert technician profiles
    match /professionals/{professionalId} {
      allow read, write: if true;
    }

    // Bookings Collection - Service bookings & scheduling
    match /bookings/{bookingId} {
      allow read, write: if true;
    }

    // Active Sessions & User Metadata
    match /active_sessions/{sessionId} {
      allow read, write: if true;
    }

    // Customers Collection - Registered customer accounts
    match /customers/{customerId} {
      allow read, write: if true;
    }

    // Profiles Collection - Universal User & Professional Profiles
    match /profiles/{profileId} {
      allow read, write: if true;
    }
  }
}
